/* PHASE 9: Forms */
.special-friend {
  border: 1px green solid; 
}

.input {

  border: 1px red solid; 
  width: 500px;
  height: 600px;
  background-color: lightgrey; 
}

.content-main {
   display: flex;
   
}

.input-area {
  border: 1px green solid; 
  background-color: white;
}

.input-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}